.contact {
  border-collapse: collapse;
}
.contact tr {
  height: 7rem;
}
.contact th {
  width: 120px;
  text-align: right;
  padding: 0 15px;
}
.contact td {
  padding: 0;
}
.caption {
  width: 480px;
}
input[type="submit"] {
  display: block;
  width: 75px;
  margin: 0 auto;
  font-size: 2.2rem;
  padding: 8px;
  letter-spacing: 1.2rem;
  background-color: #00a8a8;
  color: #fff;
}
input[type="submit"]:hover {
  opacity: 50%;
}
